.notes {
    margin-top: 32px;
}

.notes .ui textarea {
    border: none;
    font-size: 16px;
    padding: 0;
    margin: 32px 0;
}

.ui.items > .item > .content > .header {
    display: block;
    cursor: pointer;
}

.ui.items > .item > .meta {
    width: 88px;
    color: rgba(0, 0, 0, .4);
    margin-top: 0;
    margin-bottom: 16px;
}

.trash.icon {
    cursor: pointer;
}

.icon.iconfont.icon-note {
    color: #5829bb;
}

h4.ui.horizontal.divider.header span:nth-child(2n) {
    color: #5829bb;
    font-weight: bold;
}

h4.ui.horizontal.divider.header span:nth-child(2n+1) {
    color: #b8b8b8;
    font-weight: bold;
}

.header {
    color: #555 !important;
}
